@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Macondo&display=swap');

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    box-shadow: 0.2px 0.2px rgb(137, 137, 137);
    color: #0E0E0E;
}

nav ul{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px;
}

nav a{
    text-decoration: none;
    color: black;
}

#logo-name{
    font-family: "Google Sans Code";
    font-size: 26px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.color-cards{
    min-height: 82vh;
    min-width: 100%;
    display: flex;
    gap: 0.2px;
}
.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card p{
    color: white;
}
.lock-unlock-btn{
    background-color: rgba(255, 255, 255, 0.149);
    border: None;
    padding: 8px;
    height: 50px;
    width: 50px;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.2s ease;
}
.card button{
    border: None;
}
.lock-unlock-btn:hover{
    background:rgba(59, 59, 59, 0.2);
}
.material-symbols-outlined,
.material-symbols-outlined{
    color: rgb(244, 244, 244);
}
#locked-one, 
#locked-two, 
#locked-three,
#locked-four, 
#locked-five{
    display: none;
    font-size: 20px;
}

#unlocked-one,
#unlocked-two,
#unlocked-three,
#unlocked-four,
#unlocked-five {
    font-size: 20px;
}
.color-change-button{
    width: 100%;
    height: 69px;
}
.color-change-btn{
    width: 100%;
    height: 100%;
    background-color: rgb(91, 91, 224);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Google Sans Code';
    transition: background 0.3s ease;
}
.color-change-btn:hover{
    background-color: rgb(57, 57, 228);
}


.hex-value{
    display: flex;
    background-color: rgba(255, 255, 255, 0.149);
    justify-content: center;
    border-radius: 5px;
    padding: 8px;
    gap: 5px;
    align-items: baseline;
}
#one_copy_all,
#two_copy_all,
#three_copy_all,
#four_copy_all,
#five_copy_all
{
    font-size: 15px ;
}
.hex-value button{
    height: 80%;
    width: 80%;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}